#logo {
    width: 30%;
    height: 30%;
    margin-top:2% ;
}

header {
    background-image: url("../img/pattern.png");
    background-size: contain;
    background-color: rgba(20, 144, 252, 0.705);
    box-sizing: border-box;
}

h1{
    margin-bottom: 0;
}

.grey{
    color: grey;
}

#colore {
    color: rgb(58, 142, 238);
}

#image-container{
    margin-top: 2%;
}
#yellow{
     background-color: yellow;
}

.list{
   margin-left: -1.5%;
}